<div class="navbar navbar-fixed-top navbar-default">
	<div class="container">
		<div class="navbar-header">
			<a href="/post" class="navbar-brand">
				<i class='fa fa-rebel'></i>
				Cairo
			</a>
		</div>

		<ul class="nav navbar-nav navbar-right">
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</div>
</div>