<!DOCTYPE html>
<html>
<head>
	<% include ../partial/head %>
</head>
<body id="container">
	<% include ../partial/header %>
	<div class="container">
		<div id="main" class="jumbotron">
			<h1 class="text-success text-center">Hello</h1>
			<p class="text-center">My Name is Cairo Stewart and I am learning to be a web developer at Galvanize in San Francisco</p>
		</div>
	</div>
	<% include ../partial/footer %>
</body>
</html>