<!DOCTYPE html>
<html>
<head>
	<% include ../partial/head %>
</head>
<body>
	<% include ../partial/header %>
	<div id="filler" class="container">
		<div id="main" class="jumbotron text-center">
			<h1 class="text-success">Contact</h1>
			<p><i class="fa fa-envelope"></i> Email: stewartcairo@gmail.com</p>
			<p><i class="fa fa-github"></i> github: masakistewart</p>
			<p></p>
		</div>
	</div>
	<% include ../partial/footer %>
</body>
</html>