<!DOCTYPE html>
<html>
<head>
	<% include ../partial/head %>
</head>
<body id="container">
	<% include ../partial/header %>
	<div class="container">
		<div id="jumbo" class="jumbotron">
			<h1 class="text-success text-center">Hello</h1>
		</div>
	</div>
	<% include ../partial/footer %>
</body>
</html>