<!DOCTYPE html>
<html>
<head>
	<% include ../partial/head %>
</head>
<body>
	<% include ../partial/header %>
	<div class="container">
		<div class="jumbotron" id="jumbo">
			<p>Site under construction</p>
		</div>
	</div>
	<% include ../partial/footer %>
</body>
</html>