<!DOCTYPE html>
<html>
<head>
	<% include ../partial/head %>
</head>
<body id="container">
	<% include ../partial/header %>
	<div class="container">
		<div id="postJumbo" class="jumbotron">
			<form action="/articles" method="POST">
				<div class="form-group">
					<label for="title">Title</label>
					<input class="form-control" type="text" name="title">
				</div>
				<div class="form-group">
					<label for="article">Article</label>
					<textarea class="form-control" name="article"></textarea>
				</div>
				<div class="form-group">
					<label for="keywords">Keywords</label>
					<input type="text" class="form-control" name="keywords">
				</div>
				<div class="form-group">
					<label for="img">IMG URL</label>
					<input type="text" name="img" class="form-control">
				</div>
				<div class="form-group">
					<button class="btn btn-success form-control" type="submit">submit</button>
				</div>
			</form>
		</div>
	</div>
	<% include ../partial/footer %>
</body>
</html>